<!-- Footer -->

<div class="container text-center text-md-left mt-5">
    <div class="row py-4 d-flex align-items-center">

        <!-- Grid column -->
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
            <li style="list-style: none;">
                <a href="/newsletter" class="hov ">
                    <h3>NEWSLETTER</h3>

                </a>
            </li>

        </div>
        <div class="col-md-6 col-lg-7 text-center text-md-right  ">
            <li style="list-style: none;">
                <a href="/contact-us" class="hov ">
                    <h3>CONTACT US</h3>

                </a>
            </li>
        </div>
        <!-- Grid column -->



    </div>
</div>
<footer class="page-footer font-small blue-grey lighten-5">



    <!-- Footer Links -->
    <div style="background-color: lightgray;  top: 0;  ">



        <div class="container text-center text-md-left mt-5 ">
            <div class="row py-4 d-flex align-items-center ">

                <!-- Grid column -->
                <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0 " style="background-color: darkslategrey; height: 30px; ">
                    <h6 class="mb-0 " style="color: white; ">Get connected with us on social networks!</h6>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-6 col-lg-7 text-center text-md-right " style="margin-top: 5px; height: 30px; ">
                    <p style="text-align:center ">
                        <!--Facebook icon-->
                        <a href="http://facebook.com/flashissue " target="_blank "><img alt=" " src="https://s3.amazonaws.com/flashissue/ueBIjxRoTBuYR6XWW1iO_v3qVW5nRUq5VZF9RQXi2_twitter.png " /> </a>&nbsp; &nbsp; &nbsp;
                        <!--Google+ icon-->
                        <a href="http://plus.google.com " target="_blank "><img alt=" " src="https://s3.amazonaws.com/flashissue/gHd2XoyiQbKBqljm7bzg_63j3xtd7SX28TTMeOSfZ_google.png " /> </a>&nbsp; &nbsp;&nbsp;
                        <!--Twitter icon-->
                        <a href="http://twitter.com/flashissue " target="_blank "><img alt=" " src="https://s3.amazonaws.com/flashissue/MsIJsIsDT9WLAxxH4aIK_OgdHV3vxSR2737LGd8cq_facebook.png " /> </a>&nbsp; &nbsp;&nbsp;
                        <!--Linkedin icon-->
                        <a href="http://pinterest.com " target="_blank "><img alt=" " src="https://s3.amazonaws.com/flashissue/b8Xt2lN8TCKhilmoHXGW_TCjqF6FgS86WoWzUOQCh_pinterest.png " /> </a>
                    </p>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row-->

            <!-- Grid row -->
            <div class="row mt-3 dark-grey-text ">

                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mb-4 ">

                    <!-- Content -->
                    <h6 class="text-uppercase font-weight-bold ">Company name</h6>
                    <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto " style="width: 60px; ">
                    <p>Here you can use rows and columns to organize your footer content. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 ">

                    <!-- Links -->
                    <h6 class="text-uppercase font-weight-bold ">Products</h6>
                    <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto " style="width: 60px; ">
                    <p>
                        <a class="dark-grey-text " href="#! ">MDBootstrap</a>
                    </p>
                    <p>
                        <a class="dark-grey-text " href="#! ">MDWordPress</a>
                    </p>
                    <p>
                        <a class="dark-grey-text " href="#! ">BrandFlow</a>
                    </p>
                    <p>
                        <a class="dark-grey-text " href="#! ">Bootstrap Angular</a>
                    </p>

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4 ">

                    <!-- Links -->
                    <h6 class="text-uppercase font-weight-bold ">Useful links</h6>
                    <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto " style="width: 60px; ">
                    <p>
                        <a class="dark-grey-text " href="#! ">Your Account</a>
                    </p>
                    <p>
                        <a class="dark-grey-text " href="#! ">Become an Affiliate</a>
                    </p>
                    <p>
                        <a class="dark-grey-text " href="#! ">Shipping Rates</a>
                    </p>
                    <p>
                        <a class="dark-grey-text " href="#! ">Help</a>
                    </p>

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 ">

                    <!-- Links -->
                    <h6 class="text-uppercase font-weight-bold ">Contact</h6>
                    <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto " style="width: 60px; ">
                    <p>
                        <i class="fas fa-home mr-3 "></i> New York, NY 10012, US</p>
                    <p>
                        <i class="fas fa-envelope mr-3 "></i> info@example.com</p>
                    <p>
                        <i class="fas fa-phone mr-3 "></i> + 01 234 567 88</p>
                    <p>
                        <i class="fas fa-print mr-3 "></i> + 01 234 567 89</p>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </div>
        <!-- Footer Links -->
    </div>
    <div style="background-color: darkslategrey; ">
        <!-- Copyright -->
        <div class="footer-copyright text-center text-black-50 py-3 " style="color: white; ">© 2020 Copyright:
            <a class="dark-grey-text " href="https://mdbootstrap.com/ "> MDBootstrap.com</a>
        </div>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->