<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Romantic Songs</h3>
        </div>
        <div class="col-md-3">
            <a href="javascript:void();" class="album-poster" data-switch="0">
                <img src="https://img.wynk.in/unsafe/275x275/filters:no_upscale():format(webp)/http://s3-ap-south-1.amazonaws.com/wynk-music-cms/music/srch_sonymusic_INS171600165_1.jpg" alt="">
            </a>
            <h4>Bolna</h4>
            <p>Arijit Singh - 2020</p>
        </div>
        <div class="col-md-3">
            <a href="javascript:void();" class="album-poster" data-switch="1">
                <img src="https://img.wynk.in/unsafe/275x275/filters:no_upscale():format(webp)/http://s3-ap-south-1.amazonaws.com/wynk-music-cms/music/1573195770/srch_pplchandigarh_INSD11901003.jpg" alt="">
            </a>
            <h4>Filhall</h4>
            <p>B Praak - 2020</p>
        </div>
        <div class="col-md-3">
            <a href="javascript:void();" class="album-poster" data-switch="2">
                <img src="https://img.wynk.in/unsafe/275x275/filters:no_upscale():format(webp)/http://s3-ap-south-1.amazonaws.com/wynk-music-cms/music/1568119704/49169689.jpg" alt="">
            </a>
            <h4>Ishq Tera</h4>
            <p>Guru Randhawa - 2020</p>
        </div>

        <div class="col-md-3">
            <a href="javascript:void();" class="album-poster" data-switch="3">
                <img src="https://img.wynk.in/unsafe/275x275/filters:no_upscale():format(webp)/http://s3-ap-south-1.amazonaws.com/wynk-music-cms/music/1539940970/srch_venus_FR-96X-18-65569.jpg" alt="">
            </a>
            <h4>Sakhiyaan</h4>
            <p>Maninder Buttar - 2020</p>
        </div>

    </div>


    <!--        // new release-->
    <div class="row">

        <div class="col-md-3">
            <a href="javascript:void();" class="album-poster" data-switch="4">
                <img src="https://img.wynk.in/unsafe/275x275/filters:no_upscale():format(webp)/http://s3-ap-south-1.amazonaws.com/wynk-music-cms/srch_universalmusic/music/1599957555/srch_universalmusic_00602435212722-INUM72000058.jpg" alt="">
            </a>
            <h4>Humko Tum Mil Gaye</h4>
            <p>Naresh Sharma - 2020</p>
        </div>
        <div class="col-md-3">
            <a href="javascript:void();" class="album-poster" data-switch="5">
                <img src="https://img.wynk.in/unsafe/275x275/filters:no_upscale():format(webp)/http://s3-ap-south-1.amazonaws.com/wynk-music-cms/srch_sonymusic/music/srch_sonymusic_A10328E0009690593N.jpg" alt="">
            </a>
            <h4>Tum Se Hi</h4>
            <p>Ankit Tiwari - 2020</p>
        </div>
        <div class="col-md-3">
            <a href="javascript:void();" class="album-poster" data-switch="6">
                <img src="https://img.wynk.in/unsafe/275x275/filters:no_upscale():format(webp)/http://s3-ap-south-1.amazonaws.com/wynk-music-cms/srch_believe/music/update/3616409082805/1600942507/srch_believe_A10320WT0359571735.jpg" alt="">
            </a>
            <h4>Zindagi</h4>
            <p>AKay- 2020</p>
        </div>

        <div class="col-md-3">
            <a href="javascript:void();" class="album-poster" data-switch="7">
                <img src="https://img.wynk.in/unsafe/275x275/filters:no_upscale():format(webp)/http://s3-ap-south-1.amazonaws.com/wynk-music-cms/srch_timewarner/music/1486404000/srch_timewarner_A10302B0003844207H.jpg" alt="">
            </a>
            <h4>Shape Of You</h4>
            <p>Ed Sheeran</p>
        </div>
    </div>
</div>
<div id="aplayer"></div>