<div class="row">
    <div class="col-md-12">
        <h3>MY PlayList</h3>
    </div>
    <div class="col-md-3">
        <a href="javascript:void();" class="album-poster" data-switch="0">
            <img src="https://img.wynk.in/unsafe/275x275/filters:no_upscale():format(webp)/http://s3-ap-south-1.amazonaws.com/wynk-music-cms/srch_universalmusic/music/1599957555/srch_universalmusic_00602435212722-INUM72000058.jpg" alt="">
        </a>
        <h4>Humko Tum Mil Gaye</h4>
        <p>Naresh Sharma - 2020</p>
    </div>
    <div class="col-md-3">
        <a href="javascript:void();" class="album-poster" data-switch="1">
            <img src="https://img.wynk.in/unsafe/275x275/filters:no_upscale():format(webp)/http://s3-ap-south-1.amazonaws.com/wynk-music-cms/srch_sonymusic/music/srch_sonymusic_A10328E0009690593N.jpg" alt="">
        </a>
        <h4>Tum Se Hi</h4>
        <p>Ankit Tiwari - 2020</p>
    </div>
    <div class="col-md-3">
        <a href="javascript:void();" class="album-poster" data-switch="2">
            <img src="https://img.wynk.in/unsafe/275x275/filters:no_upscale():format(webp)/http://s3-ap-south-1.amazonaws.com/wynk-music-cms/srch_believe/music/update/3616409082805/1600942507/srch_believe_A10320WT0359571735.jpg" alt="">
        </a>
        <h4>Zindagi</h4>
        <p>AKay- 2020</p>
    </div>

    <div class="col-md-3">
        <a href="javascript:void();" class="album-poster" data-switch="3">
            <img src="https://img.wynk.in/unsafe/275x275/filters:no_upscale():format(webp)/http://s3-ap-south-1.amazonaws.com/wynk-music-cms/srch_universalmusic/music/1523995321/srch_universalmusic_00602567150947-USUM71804190.jpg" alt="">
        </a>
        <h4>Lovely</h4>
        <p>Billie Eilish</p>
    </div>

</div>
<div id="aplayer"></div>

<div class="row centered" style="margin-left: 90px; margin-top: 30px; ">
    <div class="container-fluid " style="border:3px; border-radius: 10px; border-style:solid; border-color:cadetblue; width: 800px; height: 200px;box-shadow: 0 15px 35px #3d2173a1;
    transition: all ease 0.4s;">
        <div class="container center centered">
            <h4 style="margin-left: 250px;">Recommended Songs</h4>
            <h4 class="glyphicon glyphicon-circle-arrow-down" style="margin-left: 130px;">Login to view your recommended songs</h4>
            <h6 class="pull-left" style="margin-left: -20px;">Login or sign up with your mobile number to get personalised recommendations based on the music you have listened to across all your devices

            </h6>
            <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0" style="margin-left: 170px;">
                <li style="list-style: none;">
                    <a href="/signup" class="hov ">
                        <h5 class="text-center" style="border-radius: 7px;box-shadow: 0 5px 15px #3d2173a1;
                        transition: all ease 0.4s; width: 180px; height: 20px;">Don't have an account?</h5>

                    </a>
                </li>

            </div>
            <div class="col-md-6 col-lg-7 text-center text-md-right  " style="margin-left: 450px; margin-top: -40px;">
                <li style="list-style: none;">
                    <a href="/login" class="hov ">
                        <h5 class="text-center" style="border-radius: 7px;box-shadow: 0 5px 15px #3d2173a1;
                        transition: all ease 0.4s; width:70px; height:20px;">Login</h5>

                    </a>
                </li>
            </div>
        </div>
    </div>
</div>