<div class="row">

    <div class="wrapper" style="background:transparent url('../../assets/images/music_bg8.jpg') no-repeat  center /cover; height: 700px;  box-shadow: 0 30px 55px #100a1ba1;
    transition: all ease 0.4s;
        border-radius: 7px; margin-top: -20px;">

        <h1 style="color: wheat;">Subscribe to our Newsletter</h1>
        <p>Receive updates instanly</p>
        <div class="newsletter">
            <input type="text" id="email" class="input" placeholder="Enter Your Email">
            <i class="glyphicon glyphicon-envelope"></i>
            <div class="btn" onclick="return validateNewsLetter()">Subscribe</div>
        </div>
    </div>
</div>