<div class="row" style="background:transparent url('../../assets/images/music_bg4.jpeg') no-repeat  center /cover; height: 700px;  box-shadow: 0 30px 55px #100a1ba1;
transition: all ease 0.4s;
    border-radius: 7px; margin-top: -20px;">

    <div class="col-sm-4" style="margin-top: 10px;">
        <div class="card text-center">
            <div class="title">
                <i class="fas fa-microphone-alt" aria-hidden="true"></i>
                <h2>Basic</h2>
            </div>

            <div class="price">
                <h4><sup>₹</sup>0</h4>
            </div>

            <div class="option">
                <ul>
                    <li><i class="fa fa-times" aria-hidden="true"></i>No Ads </li>
                    <li><i class="fa fa-times" aria-hidden="true"></i>Unlimited Downloads </li>
                    <li><i class="fa fa-times" aria-hidden="true"></i>HD Quality </li>
                    <li><i class="fa fa-times" aria-hidden="true"></i>Best song recommendation </li>
                    <li><i class="fa fa-times" aria-hidden="true"></i>Multi Account SignIn</li>
                </ul>
            </div>
            <a href="javascript:alertIt()">Order Now</a>
        </div>
    </div>

    <!--               here -->

    <div class="col-sm-4" style="margin-top: 20px;">
        <div class="card text-center">
            <div class="title">
                <i class="fa fa-music" aria-hidden="true"></i>
                <h2>Super</h2>
            </div>

            <div class="price">
                <h4><sup>₹</sup>99</h4>
            </div>

            <div class="option">
                <ul>
                    <li><i class="fa fa-check" aria-hidden="true"></i>No Ads </li>
                    <li><i class="fa fa-check" aria-hidden="true"></i>Unlimited Downloads </li>
                    <li><i class="fa fa-check" aria-hidden="true"></i>HD Quality </li>
                    <li><i class="fa fa-times" aria-hidden="true"></i>Best song recommendation </li>
                    <li><i class="fa fa-times" aria-hidden="true"></i>Multi Account SignIn</li>
                </ul>
            </div>
            <a href="javascript:alertIt()">Order Now</a>
        </div>
    </div>

    <!--                here-->

    <div class="col-sm-4" style="margin-top: 10px;">
        <div class="card text-center">
            <div class="title">
                <i class="fas fa-guitar"></i>
                <h2>Premium</h2>
            </div>

            <div class="price">
                <h4><sup>₹</sup>999</h4>
            </div>

            <div class="option">
                <ul>
                    <li><i class="fa fa-check" aria-hidden="true"></i>No Ads </li>
                    <li><i class="fa fa-check" aria-hidden="true"></i>Unlimited Downloads </li>
                    <li><i class="fa fa-check" aria-hidden="true"></i>HD Quality </li>
                    <li><i class="fa fa-check" aria-hidden="true"></i>Best song recommendation </li>
                    <li><i class="fa fa-check" aria-hidden="true"></i>Multi Account SignIn</li>
                </ul>
            </div>
            <a href="javascript:alertIt()">Order Now</a>

        </div>
    </div>

</div>